mat-card {
  margin: 20px 10px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, .2), 0 8px 10px 1px rgba(0, 0, 0, .14), 0 3px 14px 2px rgba(0, 0, 0, .12);
  text-align: center;
  min-width: 55px;

  .spinner {
    display: flex;
    justify-content: center;
    margin: 5px;
  }

  img {
    margin-bottom: 0;
  }

  .description {
    margin-top: 5px;
  }
}
