<!--The card only appears if "forecast" is given-->
<mat-card *ngIf="forecast">
  <!--e.g. 20:00-->
  <b class="timestamp">{{forecast.timeStamp | date: 'HH:mm'}}</b>
  <!--the image depends on the retrieved icon-->
  <img mat-card-image
       [src]="'http://openweathermap.org/img/w/' + forecast.icon + '.png'"
       (load)="onImageLoaded()">
  <!--if the image hasn't loaded yet, it shows a spinner on the place of the image-->
  <div *ngIf="!imageLoaded" class="spinner">
    <mat-spinner [diameter]="20"></mat-spinner>
  </div>
  <!--e.g. -8 °C, Cloudy-->
  <mat-card-content>
    <div class="temperature">{{forecast.temperature | number: '1.0-1'}} °C</div>
    <div class="description">{{forecast.description}}</div>
  </mat-card-content>
</mat-card>
