<!--If there are forecasts, show the DayCards, otherwise, show spinner-->
<ng-container *ngIf="forecasts.length > 0;else loading">
  <app-day-card *ngFor="let forecast of forecasts"
                [forecast]="forecast"></app-day-card>
</ng-container>
<ng-template #loading>
  <mat-spinner class="forecast-spinner" [diameter]="50"></mat-spinner>
</ng-template>
