:host {
  display: flex;
  justify-content: center;

  table {
    width: 100%;
  }

  tr.detail-row {
    height: 0;
  }

  tr.element-row:not(.expanded-row):hover {
    background: #f5f5f5;
  }

  tr.element-row:not(.expanded-row):active {
    background: #efefef;
  }

  .element-row td {
    border-bottom-width: 0;
  }

  .element-detail {
    overflow: hidden;
    display: flex;
    justify-content: center;
  }

  .mat-table {
    max-width: 650px;
    margin: 20px;
  }

  mat-spinner {
    margin-top: 50px;
  }
}

