<!--Angular Material's Table. not visible, if the dataSource is empty. In this case a spinner appears-->
<table mat-table
       [dataSource]="dataSource" multiTemplateDataRows
       class="mat-elevation-z8"
       *ngIf="dataSource.length > 0;else loading">

  <!--Headers + datas-->
  <!--Name header + data-->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef>Name</th>
    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
  </ng-container>

  <!--Temperature header + data-->
  <ng-container matColumnDef="temperature">
    <th mat-header-cell *matHeaderCellDef>Temperature</th>
    <!--I could have used here a pipe, so it could be configurable at different occasions, but in this case it would be over-engineering-->
    <td mat-cell *matCellDef="let element"> {{element.temperature | number: '1.0-1'}} °C</td>
  </ng-container>

  <!--Strength of Wind header + data-->
  <ng-container matColumnDef="windStrength">
    <th mat-header-cell *matHeaderCellDef>Strength of wind</th>
    <!--I could have used here a pipe, so it could be configurable at different occasions, but in this case it would be over-engineering-->
    <td mat-cell *matCellDef="let element"> {{element.windStrength}} km/h</td>
  </ng-container>

  <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
  <ng-container matColumnDef="expandedDetail">
    <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplay.length">
      <div class="element-detail"
           [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
        <app-forecast *ngIf="element == expandedElement" [cityId]="element.id"></app-forecast>
      </div>
    </td>
  </ng-container>

  <!--Rows-->
  <!--Header-->
  <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
  <!--City Information-->
  <tr mat-row *matRowDef="let element; columns: columnsToDisplay;"
      class="element-row"
      [class.expanded-row]="expandedElement === element"
      (click)="onExpanded(element)">
  </tr>
  <!--Hourly forecast-->
  <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="detail-row"></tr>
</table>
<!--Spinner appears, if the table is not visible-->
<ng-template #loading>
  <mat-spinner class="weather-table-spinner"></mat-spinner>
</ng-template>
